<small><i>This notebook was put together by [Jake Vanderplas](http://www.vanderplas.com). Source and license info is on [GitHub](https://github.com/jakevdp/sklearn_tutorial/).</i></small>

Code from tutorial: https://onlinefreetutorial.com/svm/

In [1]:
# ## Uncomment if used in Google Colab
# !git init .
# !git remote add origin https://github.com/new5558/Jutyper-Data-Science-Docker-Boilerplate
# !git pull origin master

# !pip install -r requirements.txt
# !pip install pycaret==2.3

In [2]:
import pandas as pd
from sklearn import svm
import numpy as np

In [3]:
df = pd.read_csv('./data/example.csv')
df

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,M,3,2,4,3,3,8,6,5,3,7,7,9,9,5,1,8
1557,H,2,3,4,1,2,8,7,3,6,10,5,7,3,8,2,7
1558,N,4,7,4,5,3,8,8,12,1,6,6,7,5,8,0,9
1559,K,3,6,5,4,5,6,7,3,6,6,5,8,3,8,4,9
1560,A,2,5,4,3,2,10,2,3,2,10,2,9,2,6,2,8

In [4]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(df,test_size = 0.3)
test.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
994,V,3,6,5,4,5,8,5,5,2,7,7,7,4,9,4,6
203,Z,1,0,1,1,0,7,7,2,10,8,6,8,0,8,6,8
1304,M,8,9,11,7,9,6,8,3,4,9,9,9,9,8,3,8
737,Y,2,4,4,6,1,5,10,3,2,8,13,8,2,11,0,8
745,S,4,5,6,4,3,7,7,2,8,11,5,7,1,8,5,8

In [5]:
train_X = train.iloc[:,1:]
train_y = train.iloc[:,0]

test_X = test.iloc[:,1:]
test_y = test.iloc[:,0]

In [6]:
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)

SVC(kernel='linear')

In [7]:
pred_test_linear = model_linear.predict(test_X)
np.mean(pred_test_linear==test_y)

0.7846481876332623