<small><i>This notebook was put together by [Jake Vanderplas](http://www.vanderplas.com). Source and license info is on [GitHub](https://github.com/jakevdp/sklearn_tutorial/).</i></small>

Code from tutorial: https://onlinefreetutorial.com/svm/

In [ ]:
# ## Uncomment if used in Google Colab
# !git init .
# !git remote add origin https://github.com/new5558/Jutyper-Data-Science-Docker-Boilerplate
# !git pull origin master

# !pip install -r requirements.txt
# !pip install pycaret==2.3

In [15]:
import pandas as pd
from sklearn import svm
import numpy as np

In [16]:
df = pd.read_csv('./data/letters.csv')
df

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [17]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(df,test_size = 0.3)
test.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
7390,F,6,9,8,7,3,4,14,3,5,13,7,2,1,10,2,6
1799,J,6,7,8,9,7,8,8,4,6,7,6,7,4,8,8,8
1277,Y,6,8,8,10,10,10,10,6,3,6,7,7,6,11,8,3
19571,E,4,8,6,7,7,5,8,4,4,8,7,9,5,11,9,11
19504,K,7,13,7,8,4,6,7,3,6,9,9,10,6,10,3,7

In [18]:
train_X = train.iloc[:,1:]
train_y = train.iloc[:,0]

test_X = test.iloc[:,1:]
test_y = test.iloc[:,0]

In [19]:
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)

SVC(kernel='linear')

In [20]:
pred_test_linear = model_linear.predict(test_X)
np.mean(pred_test_linear==test_y)

0.8495